:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ff0000;

  overflow: hidden;
  overscroll-behavior: none;
}

* {
  -webkit-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-callout: none;
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  touch-action: none;
}

body {
  overflow: hidden;
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  width: 100vw;
  margin: 0;
  margin-top: env(safe-area-inset-top);
  margin-bottom: env(safe-area-inset-bottom);
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
}
